---
const {
  title,
  description,
  image = "",
  url = Astro.url.pathname,
  type = "website",
  schema,
} = Astro.props;
import { getAbsoluteLocaleUrl } from "astro:i18n";
const fullUrl = `https://pixby.my${url}`;
import Header from "../components/Header.astro";
// import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={fullUrl} />

    <!-- Open Graph -->
    <meta property="og:type" content={type} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={fullUrl} />
    <meta property="og:image" content={`https://pixby.my${image}`} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={`https://pixby.my${image}`} />

    <!-- Hreflang -->
    <link rel="alternate" hreflang="en" href={getAbsoluteLocaleUrl("en")} />
    <link rel="alternate" hreflang="ms" href={getAbsoluteLocaleUrl("my")} />

    <!-- Favicon -->
    <link rel="icon" href="/logo-sm.png" />
    <!-- Schema Injection -->
    {
      schema &&
        schema.map((item: any) => {
          const schemaItem = JSON.stringify(item);

          return <script type="application/ld+json" set:html={schemaItem} />;
        })
    }
  </head>

  <body class="bg-white text-gray-900 antialiased">
    <Header />
    <slot />
    <!-- <Footer /> -->
  </body>
</html>
